{{> main/header }}
<h1><a href="/">SpringBoot TD n°2</a></h1>
<h2><a href="/orgas">Organisations</a></h2>
<a href="/orgas/new" class="ui blue button">
  <i class="ui plus icon"></i>
  Ajouter une organisation
</a>
<ul>

  {{#orga}}
  <table class="ui celled table">
         <tr>
           <td>Nom</td>
           <td>{{name}}</td>
         </tr>
         <tr>
            <td>Domaine</td>
            <td>{{domain}}</td>
            </tr>
         <tr>
           <td>Utilisateurs</td>
           <td>
                <ul>
                {{#users}}
                    <li>{{firstname}} {{lastname}} - {{email}}</li>
                {{/users}}
                </ul>
           </td>
         </tr>
  </table>
  {{/orga}}
</ul>
{{> main/footer }}