{{> main/header }}

<h1>SpringBoot TD n°2</h1>
<h2>Organisations</h2>
<a href="/orgas/new" class="ui button">
    <i class="ui plus icon"></i>
    Ajouter une organisation
</a>
<ul>
{{#orgas}}
    <li>{{name}} - {{domain}}</li>
    <a href="/orgas/display/{{id}}" class="ui button">
        <i class="ui eye icon"></i>
        Voir
    </a>
    <a href="/orgas/edit/{{id}}" class="ui button">
        <i class="ui edit icon"></i>
        Modifier
    </a>
    <a href="/orgas/delete/{{id}}" class="ui button">
        <i class="ui trash icon"></i>
        Supprimer
    </a>

{{/orgas}}
</ul>
{{> main/footer }}